.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 25px 100px;
}

.title {
    position: relative;
}

.title h1 {
    padding: 0px 30px;
    font-size: 60px;
    font-weight: 500;
}

.about-sections {
    display: flex;
    gap: 60px;
}

.card {
    padding: 10px;
    background-color: #fff;
}

.card img {
    width: 275px;
    height: auto;
}

.card h2 {
    font-size: 25px;
    margin: 10px 0 0;
    color: #333;
}

.card p {
    font-size: 16px;
    margin: 0;
    color: #666;
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-para {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    font-weight: 100;
}

.about-skills {
    display: flex;
    flex-flow: wrap; 
    gap: 20px;
}

/* .about-skills:hover{
    display: grid;
} */

.group h2 {
    font-size: 30px;
    font-weight: 700;
    background: linear-gradient(270deg, #DF8908 50.41%, #b415ff 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
}

.about-skill {
    margin: 10px;
    width: 70px;
    padding: 10px 18px;
    border-radius: 50px;
    border: 2px solid #b415ff;
    cursor: pointer;
    /* transition: 2s; */
}

.about-skill p {
    display: flex;
    justify-content: center;
}

.skill {
    font-size: large;
    font-weight: 700;
}

.about-skill hr {
    border: none;
}

.per {
    font-size: 0px;
}

.about-skill:hover {
    border: 2px solid #fff;
    /* width: 100%; */

    /* display: flex;
    gap: 50px;
    align-items: center;

    hr {
        background: linear-gradient(264deg, #DF8908 -5.09%, #b415ff 106.28%);
        height: 8px;
        border-radius: 50px;
        outline: none;
    }

    .per {
        font-size: large;
        font-weight: 700;
    } */

}

.caption{
    display: contents;
}



.about-achievements {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 40px;
}

.about-achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}

.about-achievement h1 {
    font-size: 30px;
    font-weight: 700;
    background: linear-gradient(270deg, #DF8908 50.41%, #b415ff 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-achievement p {
    font-size: 18px;
    font-weight: 500;
}